/* .root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #000000;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 0.5rem 2rem;
  width: 100%;
} */

.root .appLogo {
  cursor: pointer;
}
